NODE_ENV=development
PORT=4000

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=portfolio
POSTGRES_USER=portfolio
POSTGRES_PASSWORD=portfolio
POSTGRES_SSL=false

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
